@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Krub&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300&display=swap');*/
@import url(//db.onlinewebfonts.com/c/a21764905c623777a48ec557b4229c22?family=Anurati);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@font-face {
  font-family: "Anurati-Regular";
  src:url('../public/fonts/Anurati-Regular.otf');
}
@font-face {
  font-family: "Varinonormal-Regular";
  src:url('../public/fonts/Varinonormal-Regular.otf');
}

@layer components{
  .heroButton{
    @apply px-3 py-2 border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40 
  }
  .contactInput{
    @apply outline-none bg-slate-400/20 rounded-sm border-b px-6 py-4 border-gray-400 text-gray-950 placeholder-gray-500 transition-all focus:border-sky-500/40 focus:text-gray-950/50 hover:border-sky-500/40;

  }
}

*{
  box-sizing: border-box;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.loader2 {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader2:before , .loader2:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader2:after {
  box-shadow: 0 2px 0 #04c4d9 inset;
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}



.loader3, .loader3:before, .loader3:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader3 {
  color: #0677c2;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader3:before,
.loader3:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader3:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader3:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    


.loader4 {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  color: #0677c2;
}
  .loader4:before,
  .loader4:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader4:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.loader5 {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #0677c2;
  box-sizing: border-box;
  animation: animloader5 0.3s 0.3s linear infinite alternate;
}

.loader5::after, .loader5::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader5 0.3s  0.45s  linear infinite alternate;
}
.loader5::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader5 {
  0%   { height: 48px} 
  100% { height: 4px}
}


.loader6 {
    width: 34px;
    height: 34px;
    border: 3px solid #FFF;
    border-bottom-color: #0677c2;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 

